In [3]:
import creds
import portfolio_analytics.funcs as funcs

tok = creds.token_ro_all

In [4]:
funcs.accs_info(tok, to_df=True)

,id,type,name,status,opened_date,closed_date,access_level
0,2022795179,1,Брокерский счёт,2,2020-03-22 00:00:00+00:00,1970-01-01 00:00:00+00:00,2
1,2092538020,2,ИИС,2,2021-06-23 00:00:00+00:00,1970-01-01 00:00:00+00:00,2
2,2170779975,1,ALCAP_robot,2,2022-05-04 00:00:00+00:00,1970-01-01 00:00:00+00:00,2

In [5]:
funcs.instrument_info(acc_token=tok, figi='BBG004XB9HY6', short=True)

ticker                                                KWEB
name                    KraneShares CSI China Internet ETF
exchange                               dealer_int_exchange
country_of_risk                                         US
country_of_risk_name             Соединенные Штаты Америки
instrument_type                                        etf
dtype: object

In [6]:
funcs.agg_pflo_totals(acc_token=tok)

                             AMOUNT CURRENCY
total_amount_portfolio   1102981.37      rub
total_amount_currencies   333642.29      rub
total_amount_etf          138949.92      rub
total_amount_shares       630389.16      rub
total_amount_bonds             0.00      rub
total_amount_futures           0.00      rub
total_amount_options           0.00      rub
total_amount_sp                0.00      rub

In [8]:
funcs.agg_pflo_positions(acc_token=tok, mode='short')

,ticker,name,figi,quantity,average_position_price,current_price,currency
0,KWEB,KraneShares CSI China Internet ETF,BBG004XB9HY6,59.0,53.24,32.02,usd
1,CRSP,CRISPR Therapeutics AG,BBG00DBBGRX1,1.0,122.17,49.78,usd
2,TROW,T Rowe Price Group,BBG000BVMPN3,1.0,153.00,117.62,usd
3,US48581R2058,ГДР Kaspi.kz JSC,US48581R2058,2.0,0.00,59.00,usd
4,PYPL,PayPal Holdings,BBG0077VNXV6,1.0,109.42,80.85,usd
...,...,...,...,...,...,...,...
67,EVER,EverQuote,BBG00F17NDH7,4.0,25.23,15.90,usd
68,TATNP,Татнефть - привилегированные акции,BBG004S68829,37.0,333.30,323.70,rub
69,9888,Baidu,BBG00ZMFX1S5,10.0,133.10,145.00,hkd
70,CHMF,Северсталь,BBG00475K6C3,17.0,1017.60,1019.80,rub
71,ROSN,Роснефть,BBG004731354,42.0,332.40,351.25,rub