In [1]:
import pandas as pd
import creds
from portfolio_analytics.utils import *
from tqdm import tqdm
import time
tok = creds.token_ro_all

In [2]:
tickers = ['SBER', 'TGKB', 'CNTL', 'KZOS', 'SNGS', 'RTKM', 'NKNC', 'LSNG', 'PMSB', 'MTLR', 'TATN', 'KAZT', 'BANE', 'LNZL']
# NB!!! MGTS, KRKN are not api avalable, but prefs are OK
pref_tickers = list(map(lambda string : string + 'P', tickers))

figis = get_figi(tickers, ru=True, api_avalable=True)
pref_figis = get_figi(pref_tickers, ru=True, api_avalable=True)
print(figis)

['BBG004730N88', 'BBG000Q7GG57', 'BBG000BBV4M5', 'BBG0029SFXB3', 'BBG0047315D0', 'BBG004S682Z6', 'BBG000GQSRR5', 'BBG000NLC9Z6', 'BBG000MZL0Y6', 'BBG004S68598', 'BBG004RVFFC0', 'BBG002B9MYC1', 'BBG004S68758', 'BBG000SK7JS5']

In [3]:
from datetime import datetime, timedelta
from tinkoff.invest import CandleInterval


end = datetime.utcnow() - timedelta(hours=0)
start = end - timedelta(days=1)

df = get_candles(acc_token=tok,
            figi='BBG004730N88',
            from_=start,
            to=end,
            interval=CandleInterval.CANDLE_INTERVAL_1_MIN)
df

                         time  volume    open   close    high     low
0   2023-08-11 08:26:00+00:00     757  266.41  266.40  266.43  266.40
1   2023-08-11 08:27:00+00:00    1562  266.41  266.30  266.41  266.27
2   2023-08-11 08:28:00+00:00    2703  266.35  266.22  266.37  266.22
3   2023-08-11 08:29:00+00:00    6529  266.22  266.16  266.23  266.07
4   2023-08-11 08:30:00+00:00    5536  266.16  266.05  266.19  266.00
..                        ...     ...     ...     ...     ...     ...
807 2023-08-12 08:22:00+00:00     216  267.78  267.54  267.78  265.18
808 2023-08-12 08:23:00+00:00      59  265.39  265.31  267.51  265.31
809 2023-08-12 08:24:00+00:00      48  265.29  267.39  267.45  265.25
810 2023-08-12 08:25:00+00:00      32  267.42  267.49  267.49  265.29
811 2023-08-12 08:26:00+00:00      35  265.35  265.23  267.39  265.23

[812 rows x 6 columns]

In [ ]:
end = datetime(year=2023, month=8, day=10)
for name in figis[:1]:
    df_list = []
    for i in tqdm(range(1825)):
        df = get_candles(acc_token=tok,
            figi=name,
            from_=end-timedelta(days=1+i),
            to=end-timedelta(days=i),
            interval=CandleInterval.CANDLE_INTERVAL_1_MIN)
        df_list.append(df)
        time.sleep(0.2)
    
    res = pd.concat(df_list, axis=0, ignore_index=True)
    res.to_csv(f'data/shares_data/companies/{name}.csv')

 16%|█▋        | 298/1825 [1:00:01<5:21:37, 12.64s/it]

In [ ]:
pd.read_csv(f'data/shares_data/companies/{figis[0]}.csv')